.areaheading .sr-text{border:0;clip:rect(1px,1px,1px,1px);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;word-wrap:normal !important}
.area-heading>:last-child>:last-child .display-4{margin-bottom:10px}
.area-heading .row{margin-left:0;margin-right:0}
.area-heading .row>[class*="col-"]{padding-left:0;padding-right:0}